*.zip
*.pyc
*__pycache__
*.swp
*.avi
*.pkl
*.python-version
*.tar*

.coverage
coverage.xml

htmlcov/
.eggs/
.mypy_cache
venv/
venv38/
docs_sphinx/build/
dist/
build/
_template/
*.egg-info/
.tox/
examples/examples
ui
log/

resources/raw_black_icons
resources/raw_white_icons
