*.zip
*.pyc
*__pycache__
*.swp
*.avi
*.pkl
*.python-version
*.tar*

.coverage
coverage.xml

.idea
htmlcov/
.eggs/
.mypy_cache
venv/
venv38/
docs/build/
dist/
build/
_template/
*.egg-info/
.tox/
examples/examples
ui