*.avi
*.egg-info/
*.pkl
*.pyc
*.python-version
*.spec
*.swp
*.tar*
*.zip
*__pycache__
examples/custom_config.json

.coverage
.eggs/
.idea/
.mypy_cache
.tox/
_template/
build/
coverage.xml
data/
demos/
dist/
docs_sphinx/build/
examples/examples
htmlcov/
log/
resources/raw_black_icons
resources/raw_white_icons
tests/tests_outputs/
tests_outputs/
tools/main_window_template
tools/plotter
ui/
upx
venv/
venv38/
