dist: xenial
language: python
branches:
  only:
    - master

matrix:
  include:
    - python: 3.8
      env: TOXENV=flake8
    - python: 3.8
      env: TOXENV=black
    - python: 3.8
      env: TOXENV=mypy
    - python: 3.6
      env: TOXENV=py36
    - python: 3.7
      env: TOXENV=py37
    - python: 3.8
      env: TOXENV=py38

install:
  - pip install -r requirements.txt
  - pip install -r tests/requirements.txt

script:
  - tox
  - pytest --cov-report term
after_success:
  - codecov
