include AUTHORS.rst
include CONTRIBUTING.rst
include HISTORY.rst
include LICENSE
include README.rst
include requirements.txt
exclude pyproject.toml
include setup.py
include Pipfile
include Pipfile.lock
include readthedocs.yml
include mypy.ini
include .bumpversion.cfg

include .flake8
include .isort.cfg
include .pre-commit-config.yaml
include requirements_dev.txt
include requirements_docs.txt
include requirements_tests.txt
include tox.ini
include setup.cfg
include .coveragerc

recursive-include nodedge/qss *
recursive-include nodedge/resources *
recursive-include tests *
recursive-include examples *
recursive-exclude * __pycache__
recursive-exclude * *.py[co]

recursive-include docs *.md *.rst *.py Makefile make.bat *.jpg *.png *.gif
recursive-include docs/source/_templates *
recursive-exclude docs/build *

include *.txt
recursive-include nodedge *.cfg
