coloredlogs==15.0.1
h5py==3.7.0
pyqtconsole==1.2.2
PySide6==6.4.1
PyYAML==6.0
types-PyYAML==6.0.12.2
pyqtgraph>=0.12.0
asammdf==7.2.0
numpy==1.24.1
pandas==1.5.2
tables==3.8.0
scipy==1.9.3
npTDMS==1.6.1
